

/* CORE CSS */


body {
	color:#777777;
}

h2 {
	color:#ffffff;
}

h3 {
	color:#000000;
}


/* NAVIGATION */

.navbar-custom {
	color:#ffffff;
}

.navbar-custom a {
	color:#777777;
}

.navbar-custom .navbar-nav > li > a:hover {
	color:#000000;
}

.navbar-custom .navbar-toggle .icon-bar {
	background:#000000;
}

.banner--clone {
    background:#bf4d24;

}

.banner--clone .navbar-custom a {
	color:#eeeeee;
}

.banner--clone .navbar-custom .navbar-nav > li > a:hover {
	color:#000000;
}


/* TOP */

#top {
	color:#ffffff;
	background:url(../../img/top-bg-1.jpg) bottom center no-repeat;

	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}


/* ABOUT */

#about h2, #idea h2 {
	color:#000000;
}

.service i {
    color:#bf4d24;
}

.service:hover {
    background:#bf4d24;
}

.service:hover i {
	color:#000;
}

.service:hover h3 {
	color:#ffffff;
}

.service:hover p {
	color:#000;
}



/* PROGRAM */

#program, #potential {
	background: 
    linear-gradient(
      rgba(191,77,36, 1.00),
      rgba(191,77,36, 0.00)
    ),

    url(../../img/map-white.png);
	background-repeat:no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}

.program {
	background:#ffffff;
}

#program .lead, #potential .lead {
	color:#ffffff;
}

.program .icon {
	color:#ffffff;
    background:#bf4d24;
}


/* POPUP PROGRAM DETAILS */

#program-detail {
	background:#ffffff;
}

#program-detail .icon {
	color:#000000;
    background:#bf4d24;
}


/* MILESTONE */

.fact .timer {
	color:#000000;
}

.fact i {
    color:#bf4d24;
}


/* STORIES */

#stories {
    /*background:#bf4d24;*/
    background:
        linear-gradient(
            rgba(191,77,36, 1.00),
            rgba(191,77,36, 0.00)
        ),
         url(../../img/map-white.png);

        /*background-image: url(../../img/map-white.png);*/
    background-repeat: no-repeat;
    background-position: right bottom;
}

#stories .lead {
	color:#000000;
}

.story {
	background:#ffffff;
}

.story .icon {
	color:#ffffff;
    background:#bf4d24;
}

#donate .lead {
	color:#000000;
}

#donate .pledged {
	color:#000000;
}

#donate .progress {
	background:#dddddd;
}

#donate .progress-bar {
	background:#000000;
}


/* POPUP DONATE FORM */

#donate-form {
	background:#ffffff;
}

#donate-form input,
#donate-form select {
	border:1px solid #777777;
}


/* POPUP STORY DETAILS */

#story-detail {
	background:#ffffff;
}

#story-detail .icon {
	color:#000000;
    background:#bf4d24;
}

#story-detail footer {
	background:none;
}




/* EVENTS */

#events h2 {
    color:#000000;
}

.event h3 {
	color:#000000;
}

.event .icon {
	color:#ffffff;
    background:#bf4d24;
}

.event .description {
	background:#eeeeee;
}

#upcoming-events .owl-buttons .icon {
	color:#ffffff;
    background:#bf4d24;
}

#toc-upcoming-events .owl-buttons .icon {
    color:#ffffff;
    background:#bf4d24;
}

/* On-Deck */
#on-deck h2 {
    color:#000000;
}


/* NEWS */

#news h2 {
	color:#000000;
}

.news .date i {
    color:#bf4d24;
}

/* Common style */

.news figure {
    background:#bf4d24;
}

.news figure figcaption {
	color:#ffffff;
}

.news figure h3 {
	color:#ffffff;
}

/*---------------*/
/***** news-effect *****/
/*---------------*/

figure.news-effect {
	background: #000000;
}

figure.news-effect h3::after {
    background:#bf4d24;
}


/* POPUP NEWS DETAILS */

#news-detail {
	background:#ffffff;
}

#news-detail .date {
	color:#000000;
    background:#bf4d24;
}

/* FOOTER */

footer {
	color:#ffffff;
    background:#bf4d24;
	padding:55px 0;
	
	background-image: url(../../img/map-white.png);
    background-repeat: no-repeat;
    background-position: right top; 
}

footer h3 {
    color:white;
}

footer a, footer a:hover {
    color:#ffffff;
}

/* social buttons */

.social .fa-inverse {
    color:#bf4d24;
}

.social .fa-inverse:hover {
    color:#bf4d24;
}

.social a {
	color:#ffffff;
}

.social a:hover{
	color:#000000;
}


/* SUBFOOTER */
.subfooter {
	color:#777777;
	background:#000000;
}

.subfooter a {
	color:#777777;
}

.subfooter a:hover {
    color:#bf4d24;
}


/* MISC */

/* BUTTONS */



.button-light {
	color:#ffffff;
    background:#bf4d24;
}

.button-light:hover,
.button-light:active {
	color:#000000;
}

.button-dark {
	color:#ffffff;
	background:#000000;
}

.button-dark:hover,
.button-dark:active {
    color:#bf4d24;
}


/* PRELOAD */

#preload {
	background:#ececee;
}

.loader:before {
	background: #ececee;
}

.loader {
    box-shadow: inset 0 0 0 1em #bf4d24 ;
}

.loader:after {
	background: #ececee;
}


/* OWL CAROUSEL */

.owl-theme .owl-controls .owl-page span {
    background:#bf4d24;
}

.owl-theme .owl-controls .owl-buttons div{
   color:#bf4d24;
}


/* IMAGE HOVER EFFECTS */

	
.wrap .plus {
	background: url(../../img/plus.png) no-repeat scroll center center / 60px 60px #222222;
}

/*CONNECT STYLING*/

#spark{
	color:#ffffff;
	background:url(../../img/state-of-black-tech-past-event-icon.png) bottom center no-repeat;

	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}

#journey {
	color:#ffffff;
	background:url(../../img/road_13.jpg) bottom center no-repeat;

	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}

.text-overlay{
	background-color: rgba(191, 77, 36, 0.7);
}
